header {
  margin-bottom: 25px;
.logo {
  img{
    width: 160px;
    cursor: pointer;
  }
}
.tools{
  padding-top: 25px;

  .pi {
    margin-right: 10px;
    cursor: pointer;
  }
}
.navigation {
  padding-top: 25px;
}
.search {
  padding-top: 25px;
}
}
